<template>
  <require from="../../custom/task/task"></require>
  <require from="../../custom/task-add-btn/task-add-btn"></require>

  <div class="todoBox">
      <div class="img-menu cadet">
          <div class="title">
              <p show.bind="!onEditMode">${todoboard.title}</p>
            </div>
            <div class="form-group">
                <form show.bind="onEditMode" submit.trigger="updateTodoBoardTitle()">
                  <input class="titleEdit" type="text" value.bind="editTodoBoardTitle & validate" autofocus blur.trigger="updateTodoBoardTitle()">
                </form>
              </div>
         
          <div class="dropdown">
            <img class="dropbtn2" src="../../../assets/pictures/menu2.png">
            <div class="dropdown-content">
              <a click.delegate="toggleEditMode('enter')">Edit</a>
              <a click.delegate="removeTask()">Delete</a>
            </div>
          </div>

          
        </div>

   

    <div class="allTasksContainer">

      <task-add-btn tasks.bind="todoboard.tasks" todoid.bind="todoboard.id" refreshtodo.call="getTasksOfTodo()"></task-add-btn>

      <hr>

      <task repeat.for="task of todoboard.tasks" task.bind="task" refreshtodoboard.call="getTasksOfTodo()"></task>

    </div>

  </div>
</template>
