<template>
  <div class="taskContainer">

    <div class="taskItem">
      <input type="checkbox" checked.bind="task.done" change.delegate="updateTaskDone($event.target.checked)">
      <label show.bind="!onEditMode">${task.description}</label>
      <div class="form-group">
        <form show.bind="onEditMode" submit.trigger="updateTaskDesc()">
          <input type="text" value.bind="editTaskDesc & validate" autofocus blur.trigger="updateTaskDesc()">
        </form>
      </div>
    </div>

    <div class="taskItem">
      <div class="img-menu">
        <button class="assignbtn" show.bind="task.assignee === null" click.delegate="toggleInput()">+</button>

        <input list="users" name="users" if.bind="showInput" type="text" name="member" placeholder="Enter member here"
            value.bind="newMember & validate">
              <datalist id="users">
            <option repeat.for="user of users">${user.name}</option>
            </datalist>



        <img show.bind="task.assignee !== null" src.bind="task.assigneePic" alt="img">
        <div class="dropdown">
          <img class="dropbtn" src="../../../assets/pictures/menu.png">
          <div class="dropdown-content">
            <a click.delegate="toggleEditMode('enter')">Edit</a>
            <a click.delegate="removeTask()">Delete</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
</template>
