<template>
  <div class="taskContainer">

    <div class="taskItem">
      <input type="checkbox" checked.bind="task.done" change.delegate="updateTaskDone($event.target.checked)">
      <label show.bind="!onEditMode">${task.description}</label>
      <div class="form-group">
        <form show.bind="onEditMode" submit.trigger="updateTaskDesc()">
          <input type="text" value.bind="editTaskDesc & validate" autofocus>
        </form>
      </div>
    </div>

    <div class="taskItem">
      <div class="img-menu">
        <img src="../../../assets/pictures/img_avatar.png" alt="img_avatar1">
        <div class="dropdown">
          <img class="dropbtn" src="../../../assets/pictures/menu.png">
          <div class="dropdown-content">
            <a click.delegate="toggleEditMode('enter')">Edit</a>
            <a click.delegate="removeTask()">Delete</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
</template>
