<template>
    <div class="name">${infoboard.title}</div>
    <div class="status">${infoboard.status}</div>
    <ul>
      <li>${infoboard.todoBoards.length} Todos (${infoboard.taskcount} Tasks)</li>
      <li>${infoboard.unfinishedtasks} Remaining Tasks</li>
      <li>${infoboard.owner} (Owner)</li>
    </ul>
    <div class="members">
      <!-- TODO: Fix the loading of pictures -->
      <img repeat.for="picture of infoboard.memberPictures" src="../../../assets/pictures/img_avatar.png" alt="member_avatar">
      <!-- <!-- <img src="../../../assets/pictures/img_avatar.png" alt="img_avatar1"> -->
      <!-- <img src="../../../assets/pictures/img_avatar2.png" alt="img_avatar2"> -->
      <!-- src.bind="'../../../assets/pictures/' + picture + '.png'" -->
    </div>
</template>
