<template>
  <!-- <require from="./member/member"></require> -->
  <require from="../../custom/board-add-member-btn/add-member-btn"></require>

  <div class="boards">
    <div class="boardsOwnerAndName ">
      <div class="numberOfBoard">${board.title}</div>
      <div class="listOwner">
        <h6>Owner</h6>
        <ul>
          <li>${board.owner}</li>
        </ul>
      </div>
    </div>

    <div class="innerBoard">
      <div class="membersOfBoard">
        <div class="headOfMember">Members</div>
        <ul>
          <li repeat.for="member of board.members" board.bind="member">${member}</li>
        </ul>
      </div>

      <add-member-btn members.bind="board.members" boardid.bind="board.id" refreshmembers.call="getMembers()"></add-member-btn>
    </div>

  </div>
</template>
