<template>
  <require from="./board/board"></require>

    <div class="bg">
      <div id="Boards" class="tabcontent">
        <div class="boardsOrganizer">
          <div class="boardBox2">


           <board repeat.for="board of boards" board.bind="board"></board>
        
            <button class="finalButton" if.bind="show" click.delegate="toggle()">+</button>
            <div class="boards" if.bind="!show" >
                    <div class="boardsOwnerAndName ">
                        <div class="newBoard">
                          <form>

                            <input type="text" name="board" placeholder="Enter board name here" onfocus="this.placeholder=''"
                            onblur="this.placeholder='Enter board name here'" value.bind="newBoardTitle"autofocus>
                           
                            <input type="text" name="board" placeholder="Enter board owner here" onfocus="this.placeholder=''"
                            onblur="this.placeholder='Enter board owner here'" value.bind="newBoardOwner">
            
                             <button click.delegate="addBoard()">submit</button>

                            </form>
                          </div>
                      
                    </div>
                
                
                 
              
              
              

           
          
          
            </div>

          </div>
        </div>

      </div>
    </div>
</template>
