<template>
  <form submit.delegate="submit()">
    <require from="./board/board"></require>

    <div class="bg">
      <div id="Boards" class="tabcontent">
        <div class="boardsOrganizer">
          <div class="boardBox2">


            <board repeat.for="board of boards" board.bind="board"></board>

            <button class="finalButton" if.bind="show" click.delegate="toggle()">+</button>
            <div class="boards" if.bind="!show">
              <div class="boardsOwnerAndName ">
                <div class="newBoard">

                  <div class="form-group">
                    <input type="text" name="board" placeholder="Enter board name here" value.bind="newBoardTitle & validate">
                  </div>

                  <div class="form-group">
                    <input type="text" name="board" placeholder="Enter board owner here" value.bind="newBoardOwner & validate">
                  </div>

                  <button type="submit">submit</button>
                </div>

              </div>










            </div>

          </div>
        </div>

      </div>
    </div>
</template>
