<template>
  <require from="../../assets/scss/_auth.scss"></require>

  <form class="auth" if.bind="show">

    <input type="text" placeholder="username">
    <input type="text" placeholder="password">
    <input type="submit">

    <p>New here? <a href="signup" click.delegate="toggle()">Sign up now!</a></p>

  </form>
  

  <form class="auth" if.bind="!show">

      <input type="text" placeholder="username">
      <input type="text" placeholder="password">
      <input type="text" placeholder="confirm password">
      <input type="submit" >
  
      <p>Already a member? <a href="signin" click.delegate="toggle()">Sign in!</a></p>

  </form>

</template>
