<template>
  <require from="./todoBoard/todo-board"></require>

      <div id="Todos" class="tabcontent">
        <div id="organizer" class="organizer">


          <div id="todoHolder" class="todoHolder">

            <div id="todosInfo" class="todosInfo">
              <div class="text">
                <p>Total of ${todoBoards.length} boards</p>
              </div>

              <div class="dropdown">
                <button class="dropbtn">Boards</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </div>
            <div id="boardBoxTodo" class="boardBoxTodo">

              <todo-board repeat.for="todoboard of todoBoards" todoboard.bind="todoboard"></todo-board>


           
              <!-- <button class="todoBox plus" click.delegate="addTodo()">
                 
                <p>+</p>
              </button> -->

              
              <!-- <button  click.delegate='showCard = !showCard'>Show the card</button>
              <button if.bind='showCard'>hi<button> -->

                  <button class="todoBox plus" if.bind="show" click.delegate='toggle()'><p>1</p></button>
                  <button class="todoBox" if.bind="!show" click.delegate='toggle()'><p>2</p></button>



          </div>
        </div>


      </div>
    </div>
</template>
