<template>
  <require from="./todoBoard/todo-board"></require>

  <div id="Todos" class="tabcontent">
    <div id="organizer" class="organizer">


      <div id="todoHolder" class="todoHolder">

        <div id="todosInfo" class="todosInfo">
          <div class="text">
            <p>Total of ${todoBoards.length} boards</p>
          </div>

          <div class="dropdown">
            <button class="dropbtn">${displayBoardTitle}</button>
            <div class="dropdown-content">
              <a repeat.for="board of boards" click.delegate="changeDisplayBoard(board.id)">${board.title}</a>
            </div>
          </div>
        </div>
        <div id="boardBoxTodo" class="boardBoxTodo">

          <todo-board repeat.for="todoboard of todoBoards" todoboard.bind="todoboard"></todo-board>

          <button class="todoBox plus" if.bind="show" click.delegate='toggle()'>
            <p>+</p>
          </button>
          <div class="todoBox plus white" if.bind="!show">


            <form submit.delegate="submit()">
              <div class="form-group">

                <input class="titleInput" type="text" name="task" placeholder="Enter todo title here" autofocus
                       value.bind="newTodoTitle & validate">

              </div>

              <button type="submit" class="submitbtn">Submit</button>

            </form>


          </div>


        </div>
      </div>


    </div>
  </div>
</template>
